
.delete{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color:gray;
    border-radius: 2rem;
    color: white;
    padding: .5rem;
}

.edit{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 4rem;
    background-color:gray;
    border-radius: 2rem;
    color: white;
    padding: .5rem;
}

.darkMode{
    background-color: black;
    color: white;
}

.lightMode{
    background-color: white;
    color: black;
}